<style>
    details {
        border-radius: 3px;
        background: #6f6a6a;
        margin: 1em 0;
        color: #FFF;
        padding: .5em .5em 0;
    }

    summary {
        background: #333;
        color: #FFF;
        border-radius: 3px;
        padding: 5px 10px;
        outline: none;
        margin: -.5em -.5em 0;
    }

    details[open] {
        padding: .5em;
    }

    .headerTitle {
        margin-top: 30px;
    }
</style>

<div style="background-color: #fbfbfb;border: 1px solid rgb(100, 100, 100, 0.50);box-shadow: 0px 2px 10px rgba(100, 100, 100, 0.40);">
    <div style="margin: 0px 20px 0px 20px">
        <div style="padding-top: 20px">
            <h4 class="text-center"><strong>Уголовный кодекс республики Экстремо</strong></h4>
            <p class="text-center">(Отредактирован: 29.10.2018)</p>
        </div>

        <ul id="main-nav">
            <li><a href="#part1">Часть I: Покушения на жизнь, похищения и убийства.</a>
            <li><a href="#part2">Часть II: Ограбления, ГопСтоп, кражи.</a></li>
            <li><a href="#part3">Часть III: Форма, вещи, ресурсы.</a></li>
            <li><a href="#part4">Часть IV: Оружие: Применение, ношение, продажа.</a></li>
            <li><a href="#part5">Часть V: Техника, угоны и ДТП</a></li>
            <li><a href="#part6">Часть VI: Заговоры, пособничество, призывы к войне.</a></li>
            <li><a href="#part7">Часть VII: Хулиганство, и порча имущества.</a></li>
            <li><a href="#part8">Часть VIII: Режимные объекты.</a></li>
            <li><a href="#part9">Часть IX: Взаимодействие с госструктурами.</a></li>
            <li><a href="#part10">Часть X: Правила пребывания в городе Кавала.</a></li>
        </ul>
        <hr>
        <h3 class="text-center headerTitle" id="part1"><strong>Часть I: Покушения на жизнь, похищения и убийства.</strong></h3>
        <ul style="list-style-type: none; padding: 0;">
            <li><strong>Ст. 1</strong> Убийство раненого наказывается лишением свободы сроком от 120 месяцев, + 60 месяцев за каждое последующее убийство.</li>
            <li><strong>Ст. 2</strong> Покушение на жизнь и здоровье полицейского наказывается лишением свободы сроком от 60 месяцев.</li>
            <li><strong>Ст. 2.1</strong> Ранение полицейского наказывается лишением свободы сроком от 120 месяцев, последующие ранения полицейских + 60 месяцев за каждого полицейского.</li>
            <li><strong>Ст. 2.2</strong> Убийство полицейского наказывается лишением свободы сроком от 180 месяцев + 60 за каждое последующее убийство.</li>
            <li><strong>Ст. 3</strong> Покушение на жизнь и здоровье сотрудника МЧС наказывается лишением свободы сроком от 120 месяцев.</li>
            <li><strong>Ст. 3.1</strong> Ранение сотрудника МЧС наказывается пожизненным заключением. (240 мес.)</li>
            <li><strong>Ст. 4</strong> Покушение на жизнь и здоровье гражданского наказывается лишением свободы сроком от 30 месяцев.</li>
            <li><strong>Ст. 4.1</strong> Ранение гражданского наказывается лишением свободы сроком от 60 месяцев, + 30 месяцев за каждого раненого гражданского.</li>
            <li><strong>Ст. 5</strong> Ранение повстанца наказывается денежным штрафом в размере от 7.500 А.Д., или амнистия, если человек может доказать правомерное применение оружия. В случае отказа об оплате штрафа наказывается заключением на 8 месяцев в КПЗ.</li>
            <li><strong>Ст. 6</strong> Угроза убийством или причинением тяжкого вреда здоровью наказывается лишением свободы сроком от 15 месяцев.</li>
            <li><strong>Ст. 7</strong> Похищение человека (гражданский) наказывается лишением свободы сроком от 60 месяцев.</li>
            <li><strong>Ст. 7.1</strong> Захват госслужащих в заложники наказывается лишением свободы сроком от 120 месяцев.</li>
            <li><strong>Ст. 7.2</strong> Попытка похищения наказывается лишением свободы сроком от 30 месяцев.</li>
            <li><strong>Ст. 7.3</strong> Работорговля наказывается лишением свободы сроком от 30 месяцев.</li>
            <li><details><summary>Пояснение: Ранение сотрудников госструктур</summary>Только в случаях, когда велась стрельба по сотруднику в полной форме, или в транспорте с опознавательными знаками.</details></li>
        </ul>

        <h3 class="text-center headerTitle" id="part2"><strong>Часть II: Ограбления, ГопСтоп, кражи.</strong></h3>
        <ul style="list-style-type: none; padding: 0;">
            <li><strong>Ст. 8</strong> ГопСтоп - наказывается денежным штрафом в размере от 10.000 А.Д. или лишением свободы сроком от 30 месяцев +5 месяцев за каждый последующий ГопСтоп.</li>
            <li><strong>Ст. 9</strong> Ограбление/ограбление заправки наказывается денежным штрафом в размере от 10.000 А.Д. или лишением свободы сроком от 30 месяцев +5 месяцев за каждую ограбленную заправку.</li>
            <li><strong>Ст. 9.1</strong> Попытка ограбления наказывается денежным штрафом в размере от 5.000 А.Д. или лишением свободы сроком от 15 месяцев +5 месяцев за каждую попытку.</li>
            <li><strong>Ст. 9.2</strong> Кража со взломом наказывается денежным штрафом в размере от 10.000 А.Д. или лишением свободы сроком от 30 месяцев +5 месяцев за каждую кражу.</li>
            <li><strong>Ст. 9.3</strong> Ограбление Федерального Резерва наказывается пожизненным заключением. (240 мес.)</li>
        </ul>

        <h3 class="text-center headerTitle" id="part3"><strong>Часть III: Форма, вещи, ресурсы.</strong></h3>
        <ul style="list-style-type: none; padding: 0;">
            <li><strong>Ст. 10</strong> Мародерство наказывается денежным штрафом в размере от 3.000 А.Д. + конфискация. В случае отказа об оплате штрафа наказывается заключением на 15 суток в КПЗ.</li>
            <li><strong>Ст. 11</strong> Перевозка, хранение нелегальных вещей (отмычки, лента, мешок) наказывается денежным штрафом в размере 5.000 А.Д. + конфискацией. В случае отказа об оплате штрафа наказывается заключением на 10 суток в КПЗ.</li>
            <li><details><summary>Пояснение: Исключение (Разрешение на ношение нелегальных вещей)</summary>
                В этом списке указаны Лице / Организации и перечень вещей которые легальны для них.<br>
                <ul>
                    <li><strong>Служба безопасности сената (СБС)</strong> - Лента, Мешки.</li>
                </ul>
            </details></li>
            <li><strong>Ст. 11.1</strong> Перевозка, хранение, продажа нелегальных ресурсов наказывается денежным штрафом в размере от 25.000 А.Д. В случае отказа об оплате штрафа наказывается лишением свободы сроком на 30 месяцев. В обоих случаях производится конфискация.</li>
            <li><details><summary>Пояснение: Список нелегальных ресурсов</summary>
                <ul>
                    <li>Героин (На всех стадиях производства)</li>
                    <li>Кокаин (На всех стадиях производства)</li>
                    <li>Самогон</li>
                    <li>Уран (На всех стадиях производства)</li>
                    <li>Метамфетамин (На всех стадиях производства)</li>
                    <li>Акульи плавники</li>
                    <li>Черепашье мясо</li>
                    <li>Золото</li>
                </ul>
            </details></li>
            <li><strong>Ст. 11.2</strong> Хранение дома формы действующих госструктур наказывается денежным штрафом в размере от 25.000 А.Д. В случае отказа об оплате штрафа наказывается лишением свободы сроком на 30 месяцев. В обоих случаях производится конфискация. Конфискация форм других организаций проводится в случае наличия нелегальных предметов: нелегальные оружие или ресурсы, отмычки, мешки, ленты.</li>
            <li><strong>Ст. 12</strong> Хранение, Перевозка, Ношение полицейской формы (экипировки) наказывается лишением свободы сроком от 120 месяцев. Сотрудник полиции имеет право открыть огонь на поражение без сообщения в полицейский канал, при обнаружении человека в данной экипировке.</li>
            <li><strong>Ст. 12.1</strong> Ношение формы, и бронежилетов других действующих гос.структур наказывается лишением свободы сроком от 30 до 120 месяцев с конфискацией.</li>
            <li><strong>Ст. 12.2</strong> Неправомерное ношение формы, и бронежилетов текущих премиальных организаций (не считая головных уборов и поясов) наказывается денежным штрафом в размере 5.000 А.Д. + конфискация. В случае отказа об оплате штрафа наказывается заключением на 10 суток в КПЗ.</li>
            <li><strong>Ст. 12.3</strong> Нахождение в форме любых повстанческих организаций(в одежде магазина повстанцев) в местах легальной добычи ресурсов наказывается денежным штрафом в размере от 20.000 А.Д. + конфискация. В случае отказа об оплате штрафа наказывается лишением свободы сроком на 30 месяцев.</li>
            <li><details><summary>Пояснение: Хранение и перевозка</summary>
                Хранение - нахождение предмета в инвентаре человека или в собственном доме.<br>
                Перевозка - нахождение предмета в инвентаре транспорта.
            </details></li>
            <li><details><summary>Пояснение: Правомерное ношение</summary>
                Обязательно состоять в организации, к которой принадлежит форма.<br>
                Ношение с разрешения руководства организации (должно быть зафиксировано на стенгазете)
            </details></li>
        </ul>

        <h3 class="text-center headerTitle" id="part4"><strong>Часть IV: Оружие: Применение, ношение, продажа.</strong></h3>
        <ul style="list-style-type: none; padding: 0;">
            <li><strong>Ст. 13</strong> Применение тайзера наказывается денежным штрафом в размере от 1.000 А.Д. При наличии жалобы от пострадавшего: штраф 25.000 А.Д. + конфискация оружия. В случае отказа об оплате штрафа наказывается заключением от 5 до 15 суток в КПЗ.</li>
            <li><strong>Ст. 13.1</strong> Неправомерное применение оружия наказывается денежным штрафом в размере от 5.000 А.Д. и конфискацией. В случае отказа об оплате штрафа наказывается заключением на 10 суток в КПЗ.</li>
            <li><strong>Ст. 13.2</strong> Стрельба в зоне безопасности наказывается денежным штрафом от 10.000 А.Д. В случае отказа об оплате штрафа наказывается заключением на 15 суток в КПЗ.</li>
            <li><strong>Ст. 14</strong> Перевозка и хранение нелегального оружия наказывается денежным штрафом в размере от 25.000 А.Д. В случае отказа об оплате штрафа наказывается лишением свободы сроком на 15 месяцев. В обоих случаях производится конфискация.</li>
            <li><strong>Ст. 14.1</strong> Ношение легального оружия на виду в городе Кавала наказывается денежным штрафом в размере от 3.000 А.Д. и конфискацией. В случае отказа об оплате штрафа наказывается заключением на 5 суток в КПЗ.</li>
            <li><strong>Ст. 14.2</strong> Ношение легального оружия без лицензии наказывается денежным штрафом в размере от 5.000 А.Д. В случае отказа об оплате штрафа наказывается лишением свободы сроком на 15 месяцев. В обоих случаях производится конфискация.</li>
            <li><strong>Ст. 15</strong> Продажа нелегального оружия наказывается денежным штрафом в размере от 25.000 А.Д. В случае отказа об оплате штрафа наказывается лишением свободы сроком на 15 месяцев. В обоих случаях производится конфискация.</li>
        </ul>

        <h3 class="text-center headerTitle" id="part5"><strong>Часть V: Техника, угоны и ДТП</strong></h3>
        <ul style="list-style-type: none; padding: 0;">
            <li><strong>Ст. 16</strong> Угон техники наказывается денежным штрафом в размере от 10.000 А.Д. или лишением свободы сроком от 15 месяцев +5 месяцев за каждую угнанную технику.</li>
            <li><strong>Ст. 16.1</strong> Перебивка транспорта при поимке с поличным наказывается денежным штрафом в размере от 20.000 А.Д. или лишением свободы сроком от 40 месяцев.</li>
            <li><strong>Ст. 16.2</strong> Попытка угона техники гражданских наказывается денежным штрафом в размере от 2.500 А.Д. или лишением свободы сроком от 15 месяцев +5 месяцев за каждую попытку.</li>
            <li><strong>Ст. 17</strong> Угон техники полиции (или иных госструктур) наказывается лишением свободы на срок от 45 месяцев. Сотрудник полиции имеет право открыть огонь на поражение без сообщения в полицейский канал, при обнаружении данного транспорта под управлением человека не являющимся сотрудником полиции.</li>
            <li><strong>Ст. 17.1</strong> Попытка угона техники полиции (или иных госструктур) наказывается денежным штрафом в размере от 5.000 А.Д. или лишением свободы сроком от 30 месяцев +10 месяцев за каждую попытку.</li>
            <li><strong>Ст. 18</strong> Езда по встречной полосе наказывается денежным штрафом в размере от 3.000 А.Д. В случае отказа об оплате штрафа наказывается заключением на 5 суток в КПЗ.</li>
            <li><strong>Ст. 18.1</strong> Езда в нетрезвом виде гарантирует отправку транспорта на штрафстоянку, и выплату денежного штрафа от 3.000 А.Д. В случае отказа об оплате штрафа наказывается заключением на 5 суток в КПЗ.</li>
            <li><strong>Ст. 18.2</strong> Превышение скоростного режима наказывается денежным штрафом в размере от 3.000 А.Д. В случае отказа об оплате штрафа наказывается заключением на 5 суток в КПЗ.</li>
            <li><strong>Ст. 18.3</strong> Многократное превышение скорости наказывается штрафом от 5.000 А.Д. В случае отказа об оплате штрафа наказывается от 15 месяцев тюремного заключения.</li>
            <li><strong>Ст. 18.4</strong> Езда без водительских прав наказывается денежным штрафом в размере от 8.000 А.Д. В случае отказа об оплате штрафа наказывается от 20 месяцев тюремного заключения, а транспортное средство подлежит эвакуации на штрафстоянку.</li>
            <li><strong>Ст. 18.5</strong> Езда без фар в «тёмное время суток», а также в условиях «недостаточной видимости» наказывается денежным штрафом в размере от 4.000 А.Д. В случае отказа об оплате штрафа наказывается от 15 месяцев тюремного заключения.</li>
            <li><strong>Ст. 19</strong> Виновный в ДТП (с жертвами) наказывается денежным штрафом в размере от 15.000 А.Д. либо от 15 месяцев тюремного заключения, если возмещен материальный ущерб. (суммы должны быть адекватными и разумными) В случае отказа об оплате штрафа наказывается от 30 месяцев тюремного заключения.</li>
            <li><strong>Ст. 19.1</strong> Виновный в ДТП (без жертв) наказывается денежным штрафом в размере от 5.000 А.Д. либо от 15 месяцев, если возмещен материальный ущерб. (суммы должны быть адекватными и разумными) В случае отказа об оплате штрафа наказывается от 25 месяцев тюремного заключения.</li>
            <li><strong>Ст. 19.2</strong> Наезд на пешехода (с жертвами) наказывается денежным штрафом в размере от 10.000 А.Д. В случае отказа об оплате штрафа наказывается от 30 месяцев тюремного заключения.</li>
            <li><strong>Ст. 19.3</strong> Наезд на пешехода (без жертв) наказывается денежным штрафом в размере от 3.000 А.Д. В случае отказа об оплате штрафа наказывается от 15 месяцев тюремного заключения.</li>
            <li><strong>Ст. 20</strong> Брошенное, или неправильно припаркованное транспортное средство подлежит эвакуации на штрафстоянку. Владельцу выписывается штраф от 1.000 А.Д.</li>
            <li><strong>Ст. 21</strong> Посадка вертолета в неположенном месте наказывается денежным штрафом в размере от 20.000 А.Д.</li>
            <li><details><summary>Пояснение: Время суток и видимость</summary>
                «Темное время суток» — промежуток времени от конца вечерних сумерек до начала утренних сумерек (примерно с 17:00 до 05:00 утра - зависит от сезона, зимой рано темнеет, летом соответственно позже)<br>
                «Недостаточная видимость» — видимость дороги менее 300 м в условиях тумана, дождя и тому подобного, а также в сумерки.
            </details></li>
            <li><details><summary>Пояснение: Эвакуация на штрафстоянку</summary>
                Брошенное на федеральной дороге (включая тротуар и обочину).<br>
                Припаркованное на парковке с нарушением правил парковки.<br>
                Припаркованное в городской черте и блокирующее движение пешеходов, или движению транспорта на дорогах общего пользования.<br>
                При наличии знака, запрещающего стоянку.
            </details></li>
            <li><details><summary>Пояснение: Разрешена посадка вертолета</summary>
                ПД Кавалы (по требованию или разрешению).<br>
                Госпиталь (для доставки пострадавшего для реанимации, или по разрешению).<br>
                Таксопарк (по разрешению).<br>
                Авиагараж.<br>
                Во дворе собственного дома, если он находится не менее 50 метров от дорог общего назначения, и зданий общего пользования.<br>
                Для кратковременной посадки/высадки пассажира в месте отсутствия сторонних жителей, транспорта, и дорог общего назначения.<br>
                В случае, если вертолет был брошен владельцем, или если нарушение правила привело к ущербу чужого транспорта и/или жертвам - дополнительным наказанием станет оплата 5-кратного штрафа.
            </details></li>
            <li><details><summary>Пояснение: Скоростной режим</summary>
                Скоростной режим для наземного транспорта в населенных пунктах и городах:<br>
                а) главная дорога: 65 km/h<br>
                б) второстепенная дорога: 50 km/h<br>
                Скоростной режим для наземного транспорта за пределами городов и населенных пунктов:<br>
                а) главная дорога: 110 km/h<br>
                б) второстепенная дорога: 80 km/h.<br>
                Если иное не предусмотрено дорожными знаками.<br>
                Главная дорога - это Федеральная трасса вдоль всего острова. Остальные дороги кроме Федеральной трассы считаются второстепенными.
            </details></li>
        </ul>

        <h3 class="text-center headerTitle" id="part6"><strong>Часть VI: Заговоры, пособничество, призывы к войне.</strong></h3>
        <ul style="list-style-type: none; padding: 0;">
            <li><strong>Ст. 22</strong> Соучастие в преступлении:
                <ul>
                    <li>[ небольшой и средней тяжести ] При полном раскаянии и сотрудничестве со следствием выписывается денежный штраф в размере от 10.000 А.Д. В случае отказа об оплате штрафа наказывается тюремным заключением на срок, предусмотренный статьей УКрЭ за совершенные преступления.</li>
                    <li>[ особой тяжести ] Наказывается тюремным заключением на срок, предусмотренный статьей УКрЭ за совершенные преступления.</li>
                </ul>
            </li>
            <li><strong>Ст. 22.1</strong> Пособничество в преступлении:
                <ul>
                    <li>[ небольшой и средней тяжести ] При полном раскаянии и сотрудничестве со следствием выписывается денежный штраф в размере от 10.000 А.Д. В случае отказа об оплате штрафа наказывается тюремным заключением на срок в 30 месяцев.</li>
                    <li>[ особой тяжести ] Наказывается тюремным заключением на срок, предусмотренный статьей УКрЭ за совершенные преступления.</li>
                </ul>
            </li>
            <li><strong>Ст. 22.2</strong> Освобождение задержанного либо арестованного человека (снятие с подозреваемого в совершении преступления, или осужденного человека наручников, либо другой способ помочь освободиться из-под стражи), как попытка воспрепятствовать исполнению Закона – наказывается денежным штрафом в размере от 10.000 А.Д., В случае отказа об оплате штрафа наказывается от 30 месяцев тюремного заключения.</li>
            <li><strong>Ст. 23</strong> Публичные призывы к развязыванию агрессивной войны наказываются арестом на срок от 30 месяцев тюремного заключения.</li>
            <li><strong>Ст. 24</strong> Вооруженный захват КПП, или городов наказывается лишением свободы на срок от 60 месяцев тюремного заключения.</li>
            <li><details><summary>Пояснение: Соучастие и Пособничество</summary>
                Соучастие - это умышленное содействие двух, или более лиц в совершении умышленного преступления.<br>
                Пособник — это лицо, содействовавшее совершению преступления: советами, указаниями, предоставлением информации, транспорта, или средств совершения преступления, либо устранением препятствий, а также лицо, заранее обещавшее скрыть преступника, оружие, или иные средства совершения преступления, следы преступления, либо предметы, добытые преступным путем, а равно лицо, заранее обещавшее приобрести или сбыть такие предметы.<br>
                В отличии от лица, совершившего преступление, и находящегося в розыске, вина лиц, обвиняемых по Ст. 22 и Ст. 22.1, не может быть доказана путём высказывания предположений и домыслов.<br>
                Привлечение к уголовной ответственности по Ст. 22 и Ст. 22.1 допускается лишь при наличии неопровержимых доказательств причастности задержанного к совершенному преступлению(ям).<br>
                Например:<br>
                <ul>
                    <li>Задержание группы лиц, оказавших вооруженное сопротивление сотрудникам полиции, скажем при розливе самогона, убийство сотрудника полиции в перестрелке, и осуждение их по Ст. 2.2 и Ст. 22 УК, как убийство, и соучастие в убийстве полицейского.</li>
                    <li>Проведение операции по задержанию у работорговца группы преступников, и осуждение их по Ст. 7.3 и Ст. 22 УК, как работорговля и соучастие в работорговле.</li>
                    <li>Проведение операции по задержанию похитителей гражданина, и привлечение их по Ст. 7 и Ст. 22 УК, как похищение, и соучастие в похищении.</li>
                    <li>Обезвреживание террористов, и задержание гражданина, передававшего им информацию с крыши высотного здания о действиях Полиции, в момент проведения операции, и привлечение их по соответствующей Ст. УКрЭ за совершённые преступления, а также этого "информатора" по Статье 22.1. При этом должны быть предоставлены доказательства вины данного человека, либо признательные показания террористов о сотрудничестве.</li>
                </ul>
            </details></li>
        </ul>

        <h3 class="text-center headerTitle" id="part7"><strong>Часть VII: Хулиганство, и порча имущества.</strong></h3>
        <ul style="list-style-type: none; padding: 0;">
            <li><strong>Ст. 25</strong> Публичное пьянство наказывается денежным штрафом в размере от 1.000 А.Д. В случае отказа об оплате штрафа наказывается заключением на 5 суток в КПЗ.</li>
            <li><strong>Ст. 26</strong> Хулиганство наказывается денежным штрафом в размере от 2.000 А.Д., а также исправительными работами. В случае отказа об оплате штрафа наказывается от 15 месяцев тюремного заключения.</li>
            <li><strong>Ст. 26.1</strong> Оскорбление личности и достоинства гражданина республики Экстремо наказывается денежным штрафом в размере от 10.000 А.Д. В случае отказа об оплате штрафа наказывается от 15 месяцев тюремного заключения.</li>
            <li><strong>Ст. 27</strong> Порча либо вырубка зеленых насаждений на территории населенных пунктов, а так же вдоль федеральных трасс наказывается денежным штрафом в размере от 5.000 А.Д. В случае отказа об оплате штрафа наказывается 10 месяцами исправительных работ.</li>
            <li><strong>Ст. 28</strong> Намеренная порча служебного транспорта сотрудников госструктур наказывается денежным штрафом в размере от 6.000 А.Д. В случае отказа об оплате штрафа наказывается заключением на 10 суток в КПЗ.</li>
            <li><strong>Ст. 28.1</strong> Намеренная порча личных транспортных средств граждан наказывается денежным штрафом в размере от 3.000 А.Д. В случае отказа об оплате штрафа наказывается исправительными работами от 10 месяцев.</li>
            <li><strong>Ст. 29</strong> Умышленное разрушение зданий, сооружений в городах, и населенных пунктах наказывается лишением свободы сроком от 20 месяцев. (Если разрушение зданий, сооружений в городах, и населенных пунктах было ненамеренное) наказывается денежным штрафом в размере от 10.000 А.Д. В случае отказа об оплате штрафа наказывается заключением на 10 суток в КПЗ.</li>
            <li><details><summary>Пояснение: Хулиганство, и хозяйственные работы</summary>
                Под хулиганством понимается: разведение костров в центре города, или грубое нарушение общественного порядка, выражающее явное неуважение к обществу, а так же незаконное использование спец. сигналов госструктур, езда на картинге, прослушивание музыки на всю Кавалу.<br>
                (Любые хозяйственные работы: уборка листвы, подметание улиц, помывка служебного автотранспорта, побелка деревьев и т.д.).
            </details></li>
        </ul>

        <h3 class="text-center headerTitle" id="part8"><strong>Часть VIII: Режимные объекты.</strong></h3>
        <ul style="list-style-type: none; padding: 0;">
            <li><strong>Ст. 30</strong> На режимном объекте, или при наличии у гражданина розыска, предусматривающего наказание путем лишения свободы, после доставки на режимный объект, у гражданина проводится конфискация одежды из повстанческого магазина.</li>
            <li><strong>Ст. 31</strong> Проникновение в тюрьму наказывается денежным штрафом в размере от 10.000 А.Д. В случае отказа об оплате штрафа наказывается от 30 месяцев тюремного заключения.</li>
            <li><strong>Ст. 31.1</strong> Побег с режимного объекта(тюрьма, полицейский участок) наказывается денежным штрафом в размере от 15.000 А.Д. либо +45 месяцев к имеющемуся сроку.</li>
            <li><strong>Ст. 32</strong> Нахождение на территории Полицейских участков без приглашения наказывается лишением свободы сроком от 15 месяцев.</li>
            <li><strong>Ст. 33</strong> Намеренный объезд КПП с целью избежать проверки, либо сократить путь наказывается денежным штрафом в размере от 10.000 А.Д., В случае отказа об оплате штрафа наказывается от 30 месяцев тюремного заключения.</li>
            <li><details><summary>Пояснение: Режимный объект</summary>
                Законодатель предусмотрел право граждан на защиту от обыска вне режимного объекта.<br>
                Также отсутствие основания задержания и доставки граждан на режимный объект при отсутствии розыска, предусматривающего лишение свободы и доставку на режимный объект. Вместе с тем, если гражданин уже находится на режимном объекте, то его могут досмотреть и изъять элементы одежды, указанные в статье.
            </details></li>
        </ul>

        <h3 class="text-center headerTitle" id="part9"><strong>Часть IX: Взаимодействие с госструктурами.</strong></h3>
        <ul style="list-style-type: none; padding: 0;">
            <li><strong>Ст. 34</strong> Невыполнение законных требований сотрудника Полиции, Прокуратуры, D.E.A, F.B.I, S.W.A.T или N.S.A наказывается денежным штрафом в размере от 5.000 А.Д. В случае отказа об оплате штрафа наказывается от 30 месяцев тюремного заключения.</li>
            <li><strong>Ст. 35</strong> Дача заведомо ложных показаний при разбирательстве по административному либо уголовному делопроизводству в суде 1-ой инстанции (ПД) наказывается денежным штрафом в размере от 10.000 А.Д. В случае отказа об оплате штрафа наказывается от 30 месяцев тюремного заключения.</li>
            <li>
                <ul>
                    <li>Дача заведомо ложных показаний в суде 2-ой инстанции (Суд Присяжных) наказывается денежным штрафом в размере  250.000 А.Д. и лишением свободы сроком 240 месяцев заключения.</li>
                    <li>Дача заведомо ложных показаний в суде 3-ей инстанции (Третейском суде), которые не повлияли на принятие решения судом или их ложность была выявлена до принятия такого решения наказывается денежным штрафом в размере  250.000 А.Д., лишением свободы сроком на 240, а также проверкой недвижимого имущества и конфискацией в ней нелегала. </li>
                    <li>В случае дачи заведомо ложных показаний в судах 3-ей, 4-ой инстанции, повлиявших на решение суда, степень наказания определяется судом в рамках дела о ложных показаниях с наказанием в тройном размере, или, в случае вовлечения верховного суда, наказанием вплоть до конфискации всего имущества и/или депортации с острова.</li>
                </ul>
            </li>
            <li><strong>Ст. 35.1</strong> Клевета, то есть распространение заведомо ложных сведений, порочащих честь и достоинство другого лица или подрывающих его репутацию наказывается денежным штрафом в размере от 10.000 А.Д. В случае отказа об оплате штрафа наказывается от 30 месяцев тюремного заключения.</li>
            <li><strong>Ст. 35.2</strong> Заведомо ложный донос о совершении преступления наказывается денежным штрафом в размере от 30.000 А.Д. В случае отказа об оплате штрафа наказывается от 60 месяцев тюремного заключения.</li>
            <li><strong>Ст. 36</strong> Дача взятки/попытка дачи взятки должностному лицу лично, или через посредника за совершение заведомо незаконных действий (или бездействие), а равно посредничество во взяточничестве наказывается денежным штрафом в размере от 10.000 А.Д. В случае отказа об оплате штрафа наказывается от 30 месяцев тюремного заключения.</li>
            <li><strong>Ст. 37</strong> Оскорбление госслужащего при исполнении наказывается лишением свободы сроком от 30 месяцев. Если оскорбление личности, а не персонажа, лишение свободы сроком до 240 месяцев. (См. контент “Оскорбление” ниже)</li>
            <li><strong>Ст. 37.1</strong> Оскорбление участников судебного процесса (судьи, прокуроры, адвокаты, истец и ответчик, свидетели, присяжные) во время заседания суда наказывается предупреждением и штрафом в 20.000 А.Д. Повторное оскорбление дает председательствующему судье право наложить штраф 50.000 А.Д. и в случае несогласия или продолжения оскорбительного поведения, потребовать виновника покинуть заседание, суда и наложить административный арест 15 месяцев лишения свободы.</li>
            <li><details><summary>Пояснение: Ст. 35.1 и Ст. 35.2</summary>
                Статьи 35.1, и 35.2 регулируют наказание за действия совершенные вне рамок уже открытого судебного дела.
            </details></li>
            <li><details><summary>Пояснение: Перечень госслужащих</summary>
                - Представители, Сенаторы, Генеральный Секретарь, Вице-Президент, Президент<br>
                - Сотрудники Правоохранительных органов, Прокуратура<br>
                - МЧС
            </details></li>
            <li><details><summary>Пояснение: "Оскорбление" подразумевает выполнение всех условий</summary>
                - Сотрудник был одет в спец. форму организации (для МЧС, сотрудников Правоохранительных Органов, Прокуратуры)<br>
                - Действия сотрудника до момента нанесения оскорбления не были провокационными<br>
                - Местонахождение и поведение сотрудника соответствует его деятельности по госслужбе<br><br>

                Предупреждение считается проведенным, если выполнены все условия:<br>
                - Сотрудник представился, показав Паспорт, где указана его должность<br>
                - Сотрудник назвал номер статьи УК (Ст. 37), и сообщил о возможности наказания при повторном оскорблении<br><br>
                Наказание по этой статье нарушителя не является ограничением на возможность подачи иска о взыскании морального ущерба через суд, независимо от статуса оскорбленного.
            </details></li>
        </ul>

        <h3 class="text-center headerTitle" id="part10"><strong>Часть X: Правила пребывания в городе Кавала.</strong></h3>
        <ul style="list-style-type: none; padding: 0;">
            <li><strong>1. Правило нахождения в городе Кавала.</strong></li>
            <li><strong>1.1</strong> Запрещено носить следующие предметы: подшлемники, мешки, шемаги, военные каски, противогазы, балаклавы, а также маски в случае, если они закрывают всю область лица выше переносицы.</li>
            <li><strong>1.2</strong> Запрещено носить оружие калибра 5.45 и больше на виду.</li>
            <li><strong>1.3</strong> Запрещено находиться в одежде, имеющей полную камуфляжную расцветку, или военизированную атрибутику.</li>
            <li>
                <ul>
                    <li>Полный камуфляж: маскировочная окраска на всех элементах одежды.</li>
                    <li>Военизированная атрибутика: пулемётные ленты, взрывчатки.</li>
                </ul>
            </li>
            <li><strong>1.4</strong> Запрещено находиться в тяжелых бронежилетах и бронежилетах премиальных организаций с камуфляжной раскраской.</li>
            <li>
                <ul>
                    <li>Тяжелые бронежилеты: бронежилеты, имеющие защитные элементы на плечах, или ниже пояса.</li>
                </ul>
            </li>
            <li><strong>1.5</strong> Запрещено перемещение на повстанческой технике. (Ифрит, пикап повстанческий, .50).</li>
            <li><strong>1.6</strong> Запрещено провоцировать сотрудников Полицейского департамента.</li>
            <li><strong>1.7</strong> Особенные условия нахождения гражданских организаций, осуществляющих совместное патрулирования с ПД или имеющих гос. контракт с правительством.</li>
            <li><strong>1.7.1</strong> Если сотрудники гражданской премиальной группировки или государственной охранной компании, оказывающие помощь в патрулировании сотрудникам Полиции (на патрульном автомобиле, старшим в патрульном автомобиле является сотрудник Полиции), прибывают в город Кавала, по служебной необходимости (реагирование на вызовы граждан, реагирование на нарушение Закона в г. Кавала), то запреты, утверждённые в главе 1 Указа Сената республики Алтис на них не распространяются. Выходить из патрульной машины разрешается только в случае угрозы жизни и здоровью человека, для взятия этой ситуации под контроль, согласно действующего законодательства.</li>
            <li><strong>1.7.2</strong> Правила пребывания в городе Кавала для заключивших гос. контракт отменяются на время действия контракта, за исключением:</li>
            <li>
                <ul>
                    <li>Запрещено пребывать в г. Кавалы с тяжелым вооружением на виду (калибр 7.62, пулемет, РПГ, подствольный гранатомёт);</li>
                    <li>Запрещено парковаться на рынке и парковке прилегающей к рынку на бронированной/боевой технике (Ифрит, 0.50, танк и прочие);</li>
                </ul>
            </li>
            <br><br><li><strong>1.8 Особенные условия нахождения премиальных организаций, осуществляющих охрану гос. служащих.<br>Не распространяются ограничения правил в пункте 1 при соблюдении условий:</strong></li>
            <li><strong>1.8.1</strong> Группировка гражданская.</li>
            <li><strong>1.8.2</strong> Количество нанятых членов группировки не ограничено.</li>
            <li><strong>1.8.3</strong> Одновременный найм возможен из любого количества группировок.</li>
            <li><strong>1.8.4</strong> Ни один из выполняющих охрану не имеет розыск.</li>
            <li><strong>1.8.5</strong> Ни один из выполняющих охрану не держит на виду тяжёлые виды вооружения, такие как пулемёт, гранатомёт и гранаты боевые, светошумовые.</li>
            <li><strong>1.8.6</strong> Любое должностное лицо может потребовать предъявить паспорт каждого члена группировки.</li>
            <li><strong>1.8.7</strong> В случае прибытия в полицейский участок или тюрьму сенатора, охрана остаётся за внешней оградой режимного объекта, если заранее не оговорено иное. Данное правило не действует на КПП и Федеральном резерве, если заранее не оговорено иное.</li>
            <li><strong>1.8.8</strong> Перед въездом в Кавалу, старшим по группе даётся информация об охране в полицейский канал с указанием названия группировки и количества нанятых.</li>
            <li><strong>1.8.9</strong> Во время несения охраны в городе, члены группировки не могут удаляться от объекта более чем на 100 метров.</li>
            <li><strong>1.8.10</strong> Исключением передвижения на бронированной технике в границах города Кавалы возможно только во время проезда без остановок</li>

            <br><br><li><strong>1.9 Для гражданских лиц, не находящимся в особом статусе, не считать нарушением правил нахождения в Кавале если:</strong></li>
            <li>
                <ul>
                    <li>находится в транспорте или временно вышел из него по просьбе полиции (включая КПП) или если вышел возле магазина/аптеки/госпиталя для совершения покупки или лечения и возврата в машину после этого.</li>
                    <li>прибыл добровольно на полицейский участок с доставкой преступника или для сдачи правосудию или для дачи свидетельских показаний.</li>
                </ul>
            </li>

            <br><br><li><strong>2. Правило о розыске в городе Кавала.</strong></li>
            <li><strong>2.1</strong> При пересечении черты города Кавала, добровольно явившись в участок для снятия розыска, гражданин получит -50% от штрафа или тюремного срока, в случае оповещения Полиции, посредством сообщения в экстренный канал, о своем намерении.</li>
            <li><strong>2.2</strong> Для снятия розыска требуются доказательства. (Видео, фотографии).</li>
            <li><strong>2.3</strong> Если гражданин будет задержан на территории города Кавала с розыском, он будет осужден согласно Уголовному кодексу республики Экстремо.</li>
            <li><strong>2.4</strong> За информацию, предоставленную Полицейскому департаменту, благодаря которой был пойман нарушитель, положена премия (В зависимости от розыска задержанного). За ложный донос полагается штраф в размере 10000 А.Д, в случае отказа от уплаты,  30 месяцев тюрьмы.</li>
            <li><strong>2.5</strong> Розыск может быть рассмотрен только сотрудниками полицейского департамента со званиями от Sergeant 3 класса.</li>

            <br><br><li><strong>3. Наказание в случае нарушения правил пребывания в городе Кавала.</strong></li>
            <li><strong>3.1</strong> Любой человек, замеченный за нарушением правил пребывания в городе Кавала, подлежит задержанию. Все найденные при нём запрещенные пунктом 1 предметы подлежат конфискации.</li>
            <li><strong>3.2</strong> При нарушении п.1.5, боевая техника (с вооружением) подлежит уничтожению. По технике без вооружения дается предупреждение и в случае отказа покинуть территорию Кавалы,техника подлежит уничтожению.</li>
            <li><strong>3.3</strong> При нарушении п.1.6, нарушитель понесет наказание в виде штрафа от 5.000 А.Д. или наказывается лишением свободы сроком 30 месяцев при неуплате штрафа.</li>
        </ul>
    </div>
</div>

<footer>
    &nbsp;
</footer>

<script>
    $(() => { $(".mabyHiddenElement").hide(); });
</script>

<script>
    $(document).ready(function() {
        var headerHeight = $('#headerBar').outerHeight();
        $('#main-nav li a').click(function(e) {
            console.log(headerHeight);
            var targetHref   = $(this).attr('href');
            $('html, body').animate({
                scrollTop: $(targetHref).offset().top - (headerHeight + 80)
            }, 1000);
            e.preventDefault();
        });
    });
</script>